<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headConfig') %>
    <title>Blog · home page</title>
  </head>
  <body>
   <div class="container">
    <%- include('./partials/navbar') %>
   </div>
   <%- include('./partials/footer') %>
   <%- include('./partials/scriptConfig') %>
  </body>
</html>
