<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headConfig') %>
    <title>Blog · page not found</title>
  </head>
  <body>
   <div class="container">
    <%- include('./partials/navbar') %>
    <main class="main">
      <header class="header-wrapper">
        <h1 class="header">oops that page doesn't exist!</h1>
      </header>
    </main>
   </div>
   <%- include('./partials/footer') %>
   <%- include('./partials/scriptConfig') %>
  </body>
</html>